.container {
    background-color: #045;
    color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container h2 {
    text-align: center;
    color: rgb(255, 255, 255);
}
/* Contenedor de la cita */
.quoteContainer {
    width: 75%;
    background: #fff;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}

/*Contenedor que contiene el boton*/
.buttonContainer {
    width: 100%;
    text-align: center;
}

/* Boton citame */
.quoteButton {
    width: 40%;
    margin-top: 10px;
    border: 2px solid #46b8da;
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}
.quoteButton:hover {
    cursor: pointer;
    background: #09c;
    color: #fff;
}
.quoteButton:active {
    cursor: pointer;
}

.quoteButton {
    display: inline-block;
}

.quoteText{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    font-style: oblique;
    color: black;
}

.quoteAuthor{
    text-align: right;
    font-style: italic;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 110%;

}




/*MEDIA QUERIES*/
@media screen and(max-width:760px) {

    .quoteButton,
    .addNew {
        display: block;
    }
}